<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <!--Sidebar content-->
            <h2>Поиск квартиры:</h2>
            <p>
                Поиск: <input ng-model="$ctrl.query"/>
            </p>
            <p>
                Сортировать по:
                <select ng-model="$ctrl.orderProp">
                    <option value="price">Цена</option>
                    <option value="address">По алфавиту</option>
                    <option value="-pub_date">Дата публикации</option>
                </select>
            </p>
            <h2>Добавление новой квартиры:</h2>
            <form ng-submit="$ctrl.addNewRentingItem()">
                <p>
                    Введите адрес квартиры: <input type="text" ng-model="$ctrl.newAddress"/>
                </p>
                <p>
                    Введите цену: <input type="number" ng-model="$ctrl.newPrice"/>
                </p>
                <p>
                    <button id="addbutton" name="addbutton" class="btn btn-primary">Добавить</button>
                </p>
            </form>
        </div>
        <div class="col-md-5">
            <!--Body content-->
            <ul class="rentingItems">
                <li ng-repeat="rentingItem in $ctrl.rentingItems | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                    <a href="#!{{rentingItem.id}}" class="thumb">{{rentingItem.address}}</a>
                    <p>{{rentingItem.price}}</p>
                    <p>{{rentingItem.pub_date | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>