<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    {% if title %}
        <title>Renting Item {{ title }} detail</title>
    {% else %}
        <title>Renting Item detail</title>
    {% endif %}
</head>
<body>
    <h1>Адрес: {{ renting_item.address }}</h1>
    <p>Цена: {{ renting_item.price }}</p>
    <p>Дата добавления: {{ renting_item.pub_date }}</p>
    <form action="{% url 'rentalpropertyapp:rentalproperty-delete' renting_item.id %}" method="post">
        {% csrf_token %}
         <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="delete-button" name="delete-button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </form>
</body>
</html>