<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <title>Renting property</title>
</head>
<body>
    <h1>Текущий список квартир:</h1>
    {% if renting_items_list %}
        <ul>
        {% for ri in renting_items_list %}
            <li><a href="{% url 'rentalpropertyapp:rentalproperty-detail' ri.id %}">{{ ri.address }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No renting items are available.</p>
    {% endif %}

    {% load crispy_forms_tags %}

    <form action="{% url 'rentalpropertyapp:rentalproperty-add' %}" method="post">
        {% csrf_token %}
        {{ input_form|crispy }}
        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="add-button" name="add-button" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
</body>
</html>