<!DOCTYPE html>
<html lang="en" ng-app="rentalpropertyApp">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Angular -->
    <script src="{% static 'angular.js' %}"></script>
    <script src="{% static 'angular-route.js' %}"></script>
    <script src="{% static 'app.module.js' %}"></script>
    <script src="{% static 'app.config.js' %}"></script>
    <script src="{% static 'renting-item-detail/renting-item-detail.module.js' %}"></script>
    <script src="{% static 'renting-item-detail/renting-item-detail.component.js' %}"></script>
    <script src="{% static 'renting-items-list/renting-items-list.module.js' %}"></script>
    <script src="{% static 'renting-items-list/renting-items-list.component.js' %}"></script>
    <!-- TODO: add bound forms support for AngularJS? -->
    <!-- <script src="{% static 'djng/js/django-angular.min.js' %}" type="text/javascript"></script> -->
    <title>Renting property</title>
</head>
<body>
    <!-- Django and AngularJS share the same token for variable substitution in templates, ie. -->
    <!-- Resolve by AngularJS (default - by Django) verbatim  -->
    {% verbatim %}
    <div ng-view></div>
    {% endverbatim %}
</body>
</html>