<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    {% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="form-col">
            <div class="form-group col-md-4 mb-0">
                {{ login_form.login|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ login_form.password|as_crispy_field }}
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="login-button" name="loginButton" class="btn btn-outline-info">Войти</button>
            </div>
        </div>
    </form>
</body>
</html>